.modal {
  visibility: hidden;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  color: #212121;
  border: 2px;
  padding: 0;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 32px;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
}

.modal__input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  margin-top: 8px;
  font-weight: 500;
  font-family: 20px;
  line-height: 100%;
  gap: 8px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    border: 2px;
    position: static;
  }
}
